{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 border py-5">
            <div class="row">
                <div class="col-9">
                </div>
                <div class="col-3 mb-5">
                    <button type="button" class="btn btn-insta btn-sm" data-toggle="modal" data-target="#sendMessage">
                        Start conversation
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Send message</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <form method="POST" action="{{ path('send-message') }}">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="target" required>
                                                </div>
                                                <div class="form-group">
                                                    <textarea name="content" class="form-control" rows="10"
                                                        required></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-insta btn-sm">Send</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12">
                {% for conversation in conversationsWith %}
                <div class="row card-post-title border d-flex align-items-center py-2 my-1 bg-white">
                    <div class="col-10">
                        <a href="/messages-with/{{conversation.id}}">
                            <img src="{{conversation.avatar}}" width="40px" height="40px" style="border-radius: 60%;"
                                class="mx-3"> | @{{conversation.username}}</a>
                    </div>
                    <div class="col-2">
                        <a href="/delete-conversation" class="btn btn-insta btn-sm">
                            Delete
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
</div>
{% endblock %}